<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8">
        <title>Abi|McCormick</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css')}}">
        <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='/css/script.js')}}">
        <link rel="shortcut icon" href="/static/icon.png">
        <link href="//fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
    <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          <p>Hello!<br/><br/>My name is Abigale McCormick, and I am a senior marketing major at the University of South
              Alabama. I'm originally from Auburn, Alabama, and graduated from Auburn High School in 2017. A year
              ahead of schedule! I chose South Alabama for college because of their radiology program, but shortly
              after my freshman year, I realized the impact I could make in business. At South Alabama,
              I got involved in student government for two years, and in 2018, developed a passion for the environment
              and speaking up for humanitarian causes. In 2020 I won 2nd place in the Melton Center for
              Entrepreneurship and Innovation, 2020 Coastal Venture Competition for my business idea of a
              sustainability coffee shop that would ideally operate at benefit corporation standards and work with
              communities to teach sustainability. I currently work as a Marketing Intern for SVN | Toomey Property
              Advisors in downtown Mobile. I plan to graduate in May 2021 with a bachelor's degree in marketing.
          </p>
    </div>
    <div id="mySidebar_2" class="sidebar_2">
          <a href="javascript:void(0)" class="closebtn_2" onclick="closeNav_2()">×</a>
        <h2>Blog</h2>
        <p>10/20/2020<br/>I am reading an amazing book right now called; The Profit by Kahlil Gibran. This book is a great read if
            you are going through uncertain times or need a different perspective on life! It is a very soul-searching
            read and made me think really hard about what I value in life. I bought my copy from the Haunted Book Store
            in Downtown Mobile and suggest you check them out! </p>
        <div class="img-container">
            <img src="/static/book.png" alt="book" width="300" height="400" po>
        </div>
        <p>10/30/2020<br/>I recently completed an elevator pitch for my Creativity and Innovation class at South Alabama. The topic is; why Mobile County should expand their recycling program to include pick-up recycling options. Hope you like it!

        “My name is Abigale McCormick, and I am a marketing student at South Alabama, aspiring to focus my marketing career on environmental activism. I am sure you have heard the phrase, “reduce, reuse, recycle” Today, I want to focus on the last part of that, Recycle. Recycling is a crucial part of protecting the unique ecosystem here in Coastal Alabama. Currently, Mobile County only offers drop-off recycling, which is a great start, but; the time and energy it takes to use the current process deter non-recycling households from conforming.
        You might be saying to yourself that the drop-off recycling is plenty or not everyone has to recycle, but what if I told you Alabama alone has over 170 landfills that accept 19 million tons of JUST out-of-state garbage each year. If that still does not drive your enthusiasm for this project, the 23 endangered species in Mobile and Baldwin County should. Trash winds up in our water, and as it breaks down over time, toxins make their way into natural wildlife and our homes. Not to mention the impact our city cleanliness has on tourism.
        I understand that implementing a pick-up recycling program would be costly. Fortunately, Alabama offers the Alabama Recycling Fund Grant, which provides funding for cities implementing recycling programs. Given that; Mobile County already has a majority of the recycling equipment, the main expenses would be employee wages, recycling trucks, and increased PPE. The increase in operations would allow for mobile to create upwards of 100 jobs at the beginning stages of the project. Helping to stimulate the local economy and community well-being.
         Now I ask that you take this proposal to those in the Mobile City Sanitation department and instruct them to file for the Alabama Recycling Fund Grant. Thank you for your time and, have a good day.”

        -Abigale McCormick
        </p>
        <p>11/2/2020<br/>I am reading an amazing book right now called; The Profit by Kahlil Gibran. This book is a great read if
            you are going through uncertain times or need a different perspective on life! It is a very soul-searching
            read and made me think really hard about what I value in life. I bought my copy from the Haunted Book Store
            in Downtown Mobile and suggest you check them out! </p>
    </div>
        <div id="mySidebar_3" class="sidebar_3">
          <a href="javascript:void(0)" class="closebtn_3" onclick="closeNav_3()">×</a>
          <h2>tbd</h2>
    </div>
        <div id="mySidebar_4" class="sidebar_4">
          <a href="javascript:void(0)" class="closebtn_4" onclick="closeNav_4()">×</a>
          <h2>Contact</h2>
          <a href="https://www.linkedin.com/in/abigale-mccormick-68a074198/">My LinkedIn Page</a>
    </div>

    <div class="stars"></div>
    <div class="twinkling"></div>

    <div class="fade"></div>
        <div class="crawl">
            <h1>Abigale McCormick</h1>
        </div>
    </div>

        <div class="border_left">

            <div class="diamond_base"></div>
        </div>
        <div class="wrapper">
              <div class="quarter left-top" onclick="openNav()"></div>
              <div class="quarter right-top" onclick="openNav_2()"></div>
              <div class="quarter left-bottom" onclick="openNav_3()"></div>
              <div class="quarter right-bottom" onclick="openNav_4()"></div>
        </div>

        <div class="orb"></div>

        <div class="border_right">

            <div class="diamond_base"></div>
        </div>
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "80%";
  document.getElementById("mySidebar").style.opacity = ".9";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";

}

function openNav_2() {
  document.getElementById("mySidebar_2").style.width = "80%";
  document.getElementById("mySidebar_2").style.opacity = ".9";
}

function closeNav_2() {
  document.getElementById("mySidebar_2").style.width = "0";

}
function openNav_3() {
  document.getElementById("mySidebar_3").style.width = "80%";
  document.getElementById("mySidebar_3").style.opacity = ".9";
}

function closeNav_3() {
  document.getElementById("mySidebar_3").style.width = "0";

}
function openNav_4() {
  document.getElementById("mySidebar_4").style.width = "80%";
  document.getElementById("mySidebar_4").style.opacity = ".9";
}

function closeNav_4() {
  document.getElementById("mySidebar_4").style.width = "0";

}
</script>


        <!--div class="flask">
          <div class="circle small_circle"></div>
          <div class="circle middle_circle"></div>
          <div class="circle little_circle little_circle_white"></div>
          <div class="circle little_circle little_circle_purpure"></div>
          <div class="circle little_circle little_circle_blue"></div>
          <div class="flask_throat">
            <div class="flask_throat_one"></div>
            <div class="flask_throat_two"></div>
            <div class="flask_throat_three"></div>
            <div class="flask_throat_four"></div>
          </div-->
          <!--div class="flask_bottom">
            <div class="big_triangle">
              <div class="flask_bottom_one"></div>
              <div class="flask_bottom_two"></div>
              <div class="flask_bottom_five"></div>
              <div class="flask_bottom_six"></div>
              <div class="flask_bottom_seven"></div>
              <div class="flask_bottom_eight"></div>
            </div>
          </div>
        </div-->
    </body>
</html>









